<form action="/Contact/add" method="POST">
    <br>Nom:<br><input type="text" name="nom">
    <br>Prenom:<br><input type="text" name="prenom">
    <br>Adresse courriel<br><input type="text" name="Adresse">
     <br>Numero de telephone<br><input type="text" name="Telephone">
    <br>Sujet de la demande<br><input type="checkbox" id="Inscription" name="Inscription"> <label for="Inscription">Inscription</label>
    <input type="checkbox" id="Demande" name="Demande"> <label for="Demande">Demande de formation</label>
    <br>Champ de la demande<br><textarea name="description" cols="30" rows="10"></textarea>
    <br><input type="submit" value="Envoyer">
</form>