<h1>{{title}}</h1>
<p>{{description}}</p>
<hr>



{{#each formations}}
<a href="/formations/{{this.id}}">
    <h2>{{this.nom}} {{this.prenom}}</h2>
    <div>{{this.desc}}</div>
    <div>{{this.prix}}</div>
</a>
<hr>
{{/each}}
