<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <nav>
     <ul>
       <li><a href="/">Accueil</a></li>
        <li><a href="/Formations">Nos formations</a></li>
        <li><a href="/Blog">Le blog</a></li>
        <li><a href="/Contact">Nous contacter</a></li>
        <li><a href="/Contact/add">Ajout de données</a></li>
     </ul>
   </nav>
   {{{body}}}
  </body>
</html>
